<!-- Projects Section-->
<section class="py-5" id="projects">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">My Projects</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex">
                            <div class="row p-5">
                                <div class="col-12 col-md">
                                    <h2 class="fw-bolder">
                                        Kadro Photography Platform
                                    </h2>
                                    <p>
                                        My Successful startup in photography and videography market which raised more than $50k and reached cash flow
                                        positive point in less than 2 years onboarding more than 2k photographers
                                        and more than 50k Successful bookings through the platform's matching algorithm earning more than $300k in revenue
                                        last year.
                                    </p>
                                    <p>
                                        role: Founder and CEO
                                    </p>
                                    <p>
                                        team: 50 people
                                    </p>
                                    <a href="https://www.kadro.co" target="_blank"> Visit Website </a>
                                    <p class="text-muted">
                                        2017-now
                                    </p>
                                </div>
                                <div class="col-6  col-md">
                                    <img class="img-fluid" src="/kadro.png" alt="kadro" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Card 2-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex">
                            <div class="row p-5">
                                <div class="col-12 col-md">
                                    <h2 class="fw-bolder">
                                    Dr.Parisa Physical Therapy
                                    </h2>
                                    <p>
                                        Implementing online presence strategy for a local Physical Therapy located at heart of Tehran, including website design,
                                        social media plan, SEM , user acquistion plan and setting up call center.
                                        They reached 15k organic search impression in first 6 months.
                                    </p>
                                    <p>
                                    role: Product Manager
                                    </p>
                                    <p>
                                        team: 5 people
                                    </p>
                                    <a href="https://www.drparisa.com" target="_blank"> Visit Website </a>
                                    <p class="text-muted">
                                        2020-2021
                                    </p>
                                </div>
                                <div class="col-6  col-md">
                                    <img class="img-fluid" src="drparisa.png" alt="DrParisa" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Project Card 2.5-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex">
                
                            <div class="row p-5">
                                <div class="col-12 col-md">
                                    <h2 class="fw-bolder">
                                        Charity Donation Subscription App
                                    </h2>
                                    <p>
                                       There was a charity which would like to collect monthly donations from its members on a monthly routine. The app should have sent kind reminders on specific dates before the payment date. Users could choose how much and when they would like to be remembered. It was a web based application.
                                    </p>
                                    <p>
                                        role: Project Manager (Freelance)
                                    </p>
                                    <p>
                                        team: only me
                                    </p>
                                    <p class="text-muted">
                                        mid 2016- mid 2017
                                    </p>
                                </div>
                                <div class="col-6  col-md">
                                    <img class="img-fluid" src="ghadirfadak.jpeg" alt="menochi" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Project Card 3-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex">

                            <div class="row p-5">
                                <div class="col-12 col-md">
                                    <h2 class="fw-bolder">
                                        Menochi Coffeshop / Restaurant Order Web App
                                    </h2>
                                    <p>
                                        Product design and management of a web app including web based restaurant menu, carts management, payment, restaurant
                                        owner panel, analytics and orders management.
                                        Designing User experience for setting orders easily on each table at restaurants or coffeshops.
                                    </p>
                                    <p>
                                        role: Product Manager & Full Stack Developer
                                    </p>
                                    <p>
                                        team: 4 people
                                    </p>
                                    <p class="text-muted">
                                        2016-2017
                                    </p>
                                </div>
                                <div class="col-6  col-md">
                                    <img class="img-fluid" src="menochi.png" alt="menochi" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project Card 4-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex">

                            <div class="row p-5">
                                <div class="col-12 col-md">
                                    <h2 class="fw-bolder">
                                        Gologram IOT gadget
                                    </h2>
                                    <p>
                                        IOT gadget which tells users how to take care of their indoor plants.
                                        managing data of +50k plants in middle east and syncronizing whith application, industrial designing, mobile app design.
                                    </p>
                                    <p>
                                        role: Product Designer
                                    </p>
                                    <p>
                                        team: 3 people
                                    </p>
                                    <p class="text-muted">
                                        mid 2015 - 2016
                                    </p>
                                </div>
                                <div class="col-6  col-md">
                                    <img class="img-fluid" src="gologram.jpeg" alt="Gologram" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Project Card 5-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex">
                
                            <div class="row p-5">
                                <div class="col-12 col-md">
                                    <h2 class="fw-bolder">
                                        SalamatYar health social network
                                    </h2>
                                    <p>
                                        A social network for patients, doctors, hospitals including appointment app, blog, like, follow and channel features.
                                    </p>
                                    <p>
                                        role: Scrum Master
                                    </p>
                                    <p>
                                        team: 7 people
                                    </p>
                                    <p class="text-muted">
                                        2014 - mid 2015
                                    </p>
                                </div>
                                <div class="col-6  col-md">
                                    <img class="img-fluid" src="salamat-yar.jpg" alt="salamat-yar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
            </div>
        </div>
    </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
            <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contact.html">Contact me</a>
        </div>
    </div>
</section>