<style>
    .ex{
        /* max-height: 100vh; */
    overflow-y: scroll;
    border-top: 1px solid;
    border-color: #e9e9e9;
    margin: 1em 0px 0px 0px;
    }
    .ex-details li{
        margin: 2em 0em;
    }
    .ex-details p{
        font-size: 80%;
        margin-top: 1.5em;
        color:#9793a0;
        padding: 0px 0px 0px 3em;
    }
</style>
<!-- Page Content-->
<div class="container px-5 my-5" id="resume">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <a class="btn btn-primary px-4 py-3" href="AmirValeh.pdf" target="_blank">
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Download Resume
                    </a>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-top gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2"> 2017 - Present</div>
                                    <div class="small fw-bolder"> Founder & CEO </div>
                                    <div class="small text-muted">Kadro Photography Platform</div>
                                    <div class="small text-muted"> Tehran, Iran </div>
                                    <div class="small text-muted"> <a href="https://www.kadro.co" target="_blank"> Visit </a> </div>

                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-12">
                                        I founded Kadro at 2017, raised $50k in it's first year, grew it to $300k revenue in 2023. 
                                        These are my experiences as a CEO and product manager who managed more than 5 tech members and 45 sales and marketing members:
                                    </div>
                                    <div class="col-12 ex shadow">
                                        <ul class="my-3 text-muted ex-details">
                                            <li>
                                                <strong>
                                                    Booking Optimization:
                                                </strong>
                                                By streamlining the booking process and conducting user research, we doubled our successful booking rate
                                                (Lead/Purchase).
                                                <p>
                                                    We surveyed 500 users over two months through phone calls, SMS polls, and Hotjar to understand their needs when booking
                                                    a photographer.
                                                    <br>

                                                    Based on the feedback, we optimized our booking process to better address these needs.
                                                 </p>
                                            </li>
                                            <li>
                                                <strong>
                                                    Revenue Growth:
                                                </strong>
                                            We categorized over 5,000 photographers into 5 experience levels, allowing a wider range of customers to connect with
                                            suitable photographers, leading to a 50% increase in monthly revenue.
                                        </li>
                                            <li>
                                                <strong>
                                                   Customized Discounts Service:
                                                </strong>
                                                We empowered photographers to create customized discounts through a new feature, increasing our matching metrics by 20%.
                                                <br>
                                                To achieve this:
                                                <br>
                                                <ul>
                                                    <li>
                                                        We designed and implemented a feature allowing photographers to offer personalized discounts.
                                                    </li>
                                                    <li>
                                                        We promoted these discounts via SMS marketing, email campaigns, and social media, reaching over 50,000 users weekly.
                                                    </li>
                                                    <li>
                                                        We built a dedicated landing page to analyze user behavior and track the effectiveness of the campaign.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <strong>Problem Solving:</strong>

                                                Faced regulatory restrictions in Iran:
                                                Iranian authorities (FATA Police) warned us about displaying non-hijab-wearing female photos in portfolios, leading to
                                                the banning of five of our main landing pages, responsible for 30% of our SEO traffic.
                                                <br>
                                                solution:
                                                <br>
                                                <ul>
                                                    <li>
                                                        We developed a feature that collects users' mobile numbers and sends a private, time-limited link to access relevant
                                                        portfolios.
                                                    </li>
                                                    <li>
                                                        This solution ensured compliance with local regulations while maintaining user privacy and enhancing brand trust.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <strong>Business model development:
                                                </strong>
                                                We implemented a quoting system for complex services, such as drone videography, leading to a 15% increase in monthly
                                                users and 3% sales.
                                            </li>
                                            <li>
                                                <strong>Subscription Model development:</strong>
                                            We introduced subscription packages (monthly, seasonal, and yearly) for photographers, offering them additional tools
                                            and lower commissions, which resulted in a guaranteed 10% monthly revenue increase for the company.
                                            </li>

                                            <li>

                                                <strong>
                                                    SEO-focused Landing Page Redesign (2021)                                                
                                                </strong>
                                                I led a team of four in a three-month project to redesign all our landing pages for improved SEO performance. We
                                                implemented the following strategies:
                                                <ul>
                                                    <li>
                                                        <strong>
                                                            Enhanced Schema Markup:
                                                        </strong> We added relevant Schema codes (review, rating, article, and product) to provide search engines
                                                        with richer information about our content and offerings.
                                                    </li>
                                                    <li>
                                                        <strong>
                                                            Optimized Page Speed: 
                                                        </strong>
                                                        We implemented a caching system for our top-priority landing pages to improve loading speed and
                                                        user experience.
                                                    </li>
                                                    <li>
                                                       <strong>
                                                        Data-Driven User Experience Analysis:
                                                       </strong>   
                                                       We synced important user interactions and events with Google Analytics to measure
                                                        user behavior and identify areas for improvement, ensuring a search engine and user-friendly experience.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 2-->

                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-top gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2"> 2016 - 2017 </div>
                                    <div class="small fw-bolder"> Product Manager </div>
                                    <div class="small text-muted"> Menochi Coffeshop Order web app </div>
                                    <div class="small text-muted"> Tehran, Iran </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-12">
                                        As part of development team, I managed 4 team members (3 tech, 1 design). These are my experiences:
                                    </div>
                                    <div class="col-12 ex shadow">
                                        <ul class="my-3 text-muted ex-details">
                                            <li>
                                                <strong>
                                                    Integrated Solutions:
                                                </strong>
                                                Successfully integrated cashier software, user web app, and payment services.
                                                <p>
                                                    Menochi was a complex 2 sided platform, coffe shops (or restaurants) and customers. Customers needed fast and devidend payment, menu photos, prices, discounts, sharing, like and comment capabilities while coffeshops needed cashier software, online menu, table management, receipt print sync and waiter alert.
                                                    I managed 3 tech members to deliver these features successfully, brainstormed QR code and NFC design for on-table ordering and tested the whole package in actual coffeshop environments to check users experience.
                                                </p>
                                            </li>

                                            <li>
                                                <strong>
                                                Ruby On Rails:
                                                </strong>
                                                 Utilized Ruby On Rails for efficient product development.                                                
                                                 <p>
                                                    Most of team members were junior RoR developers so we chose it as our programming language for it's low development time and big global community.
                                                    I hired a senior RoR developer who checked our team's codes and coached them on a daily basis in 2017's summer.
                                                </p>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
            <!-- Education Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2"> 2011 - 2016 </div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder"> University of Tehran </div>
                                        <div class="small text-muted">Tehran, Iran</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted"> Undergraduate </div>
                                        <div class="small text-muted"> Information Technology </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    Graduated in Information Technology from University of Tehran.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Education Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2"> 2007 - 2011 </div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder"> Nikan </div>
                                        <div class="small text-muted">Tehran, Iran</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted"> Diploma </div>
                                        <div class="small text-muted"> Mathematics and Physics </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    Received a diploa degree in Mathematics and Physics from Nikan college.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional
                                        Skills</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Leadership (cross-functional Teams) </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Strategic Thinking
                                        </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Analytical Skills
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"> 
                                        Marketing skills
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Product roadmap development
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Time Management    
                                    </div>
                                </div>

                            </div>


                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Technical Expertise
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Product specification (PRD)
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        User Experience
                                    </div>
                                </div>
                            
                            </div>

                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Problem Solving
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Comminication 
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Technical Skills
                                    </div>
                                </div>
                            
                            </div>




                        </div>


                        <!-- Technical skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-code-slash"></i>
                                </div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">
                                    Technical
                                        Skills
                                    </span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Ruby On Rails 
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                       HTML / CSS / Js
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        SQL
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Marketing skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-shop"></i>
                                </div>
                                <h3 class="fw-bolder mb-0">
                                    <span class="text-gradient d-inline">
                                        Marketing Skills
                                    </span>
                                </h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        SEM (Google search console)
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Google Adwords
                                    </div>
                                </div>
                            </div>

                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        Instagram Marketing
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        PPC Marketing
                                    </div>
                                </div>
                            </div>

                        </div>

                        
                        
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-globe"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"> Farsi (Native) </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"> English (Fleunt) </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"> Arabic (فصیح) </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>